@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

$font-primary: 'Bebas Neue', sans-serif;
$font-secondary: 'Work Sans', sans-serif;

$btn-color: #94939391;